header{
	margin-bottom: 10px;
}

body{
	background-image: url('/media/bc.jpeg');
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-size: cover;
}

.img-cuenta{
	width: 6em;
	height: 6em;
}

.img-base{
	width: 3em;
	height: 3em;
}

.ul-horizontal{
	display: block;
}

.ul-horizontal>li{
	display: inline;
}

.bckgr{
	linear-gradient(180deg, #2af598 0%, #009efd 100%)	
}


.perfilLi{
	list-style: none;
}

.opacity-10 {
	opacity: 0.9; }
	

.paginacion {
	margin: 0.3em;
}