{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Home</title>

	

	<link rel="stylesheet" type="text/css" href="{% static 'blog/style.css' %}">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	<!-- Bootstrap  -->

</head>
<body>



	<header class="site-header">
		<nav class="navbar navbar-expand-sm bg-dark justify-content-between">
			<a href="{% url 'blog-home' %}"> Logo </a>
			
			
			{% if request.user.is_authenticated %}
				<ul class="navbar-nav">

					<li class="nav-item">
						<a href="{% url 'perfil' %}">
							<img class="rounded-circle img-base" src="{{ user.perfil.imagen_perfil.url }}" >
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'perfil' %}">{{user.username}}</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'logout' %}">Logout</a>
					</li>					
				</ul>
			{% else %}

				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="{% url 'registrarse' %}">Registrarse </a>	
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{% url 'login' %}">Login </a>			
					</li>
				</ul>

				
				
			{% endif %}

			

		</nav>
	</header>
	
	{% if messages %}
		{% for message in messages %}
			<div class="alert alert-{{ message.tags }}"> {{ message }} </div>
		{% endfor %}
	{% endif %}

	{% block content %}{% endblock %}
	
	
</body>
</html>


