{% extends "blog/base.html" %}
{% block content %}
{% load crispy_forms_tags %}



	
  <div class="p-3 container opacity-10 bg-dark text-info justify-text">
  	<h1>¡Bienvenido a Baul Universitario!</h1>
  	<h2>Este es un lugar para compartir conocimiento entre nosotros</h2>
	<h3>
		En esta paginas vas a poder 
		<ul>
			<li>Preguntar tus dudas</li>
			<li>Encontrar apuntes digitales</li>
			<li>Comprar apuntes fisicos usados(¡Algunas personas donan sus apuntes!)</li>
			<li>Comprar materiales usuados (¡Algunas personas donan sus materiales!)</li>
			<li>Solicitar ayuda</li>
			<li>Solicitar recomendaciones</li>
			<li>y más</li>
		</ul>
	</h3>
	<div>
		<a class="btn btn-success" href="{% url 'login' %}">Ingresar</a>
		<a class="ml-2 btn btn-info" href="{% url 'registrarse' %}">Registrarse</a>
	</div>
	<a class="mt-2 btn btn-primary" href="{% url 'blog-home' %}">Mirar publicaciones</a>
  </div>




{% endblock %}
