{% extends "blog/base.html" %}
{% block content %}
	
	<div class="container pt-5 bg-dark text-white">
	<p class="text-primary">{{ object.autor }}: {{object.titulo}}</p>
	<p> {{ object.contenido }} </p>
	
	{% if object.autor == user %}
		<a class="btn btn-secondary"  href="{% url 'post-actualizar' object.id %}">Actualizar</a>
		<a class="btn btn-danger"  href="{% url 'post-eliminar' object.id %}">Eliminar</a>
	{% endif %}
	</div>
	<p></p>
	<a class="btn btn-secondary"  href="{% url 'post-agregar-comentario' object.id %}">Agregar Comentario</a>
	{% if object.comentario_set.all %}
		{% for comentario in object.comentario_set.all %}
		<div class="container bg-dark text-white">
			{% if user == comentario.autor %}
				<a href="{% url 'eliminarComentario' comentario.id %}" class="btn btn-danger" >Eliminar Comentario</a>
			{% endif %}
			<p>{{ comentario.autor }} :</p>
			<p>{{ comentario.contenido }}</p>
			<p>{{ comentario.fecha_creacion }}</p>
		</div>
		{% endfor %}
	{% else %}
		<div class="container bg-dark text-white">
			<p>No hay comentarios</p>
		</div>
	{% endif %}

	
		

{% endblock %}
