{% extends "blog/base.html" %}
{% block content %}

	<a class="btn btn-primary" href="{% url 'post-nuevo' %}">Crear un nuevo post</a>

	{% for post in posts %}
		<div class="container pt-5 bg-dark text-white">
		<a href="{% url 'post-detail' post.id %}" class="text-primary">{{ post.autor }}:  {{ post.tipo }} - {{ post.materia }} :  {{post.titulo}}</a>
		<p> {{ post.contenido }} </p>
		<p>El post tiene {{ post.comentario_set.all | length }} comentarios</p>
		</div>

	{% endfor %}

	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
			<a href="?page=1">&laquo; first</a>
			<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">next</a>
			<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>

{% endblock %}

