{% extends "blog/base.html" %}
{% block content %}

	<a class="btn btn-primary mb-3" href="{% url 'post-nuevo' %}"><i class="fas fa-plus ml-2"></i>Crear un nuevo post</a>

	{% for post in posts %}
	<div class="d-flex flex-row ml-5 mb-5 mr-5 pl-3  pr-4 pt-3 bg-dark text-white rounded  ">
		

		<div class="flex-shrink-1 mr-8 " >
			<img class="rounded-circle img-base " src="{{ post.autor.perfil.imagen_perfil.url }}" >
			<a href="{% url 'perfil-de-otro' post.autor.id %}"><p>{{ post.autor }}</p></a>
			
		</div>

		<div class="w-90 ml-3">
			<a  href="{% url 'post-detail' post.id %}" > <h3>  {{post.titulo}} </h3>  </a>

			<span class="badge badge-primary " >{{ post.tipo }}</span>
			<span class="badge badge-info">{{ post.materia }}</span>
			
			{% for carrera in post.materia.carreras.all %}
				<span class="badge badge-secondary">{{ carrera.nombre }}</span>
			{% endfor %}
			

			<p class="ml-4 mt-2"> {{ post.contenido | truncatechars:200  }} </p>
			
			<div >
				{% if  post.comentario_set.all|length == 1 %}
				<p class="d-inline"> {{ post.comentario_set.all | length }} comentario</p>
				{% else %}
				<p class="d-inline"> {{ post.comentario_set.all | length }} comentarios</p>
				{% endif %}

				{%  if post.imagen1 or post.imagen2 or post.imagen3 %}
				<p class="d-inline"> y con imagenes</p>
				{% else %}
				<p class="d-inline"> y sin imagenes</p>
				{% endif %}
				<a class="btn btn-success btn-sm  mb-1 ml-3" href="{% url 'post-detail' post.id %}">Ver mas</a>
			</div>
		</div>
		
		
	</div>
	

	{% endfor %}


	<div class="pagination">
		<span class="step-links">
			{% if page_obj.has_previous %}
			<a href="?page=1">&laquo; first</a>
			<a href="?page={{ page_obj.previous_page_number }}">previous</a>
			{% endif %}

			<span class="current">
				Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
			</span>

			{% if page_obj.has_next %}
			<a href="?page={{ page_obj.next_page_number }}">next</a>
			<a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
			{% endif %}
		</span>
	</div>

{% endblock %}

