{% extends "blog/base.html" %}
{% block title %}Actualizacion{% endblock %}
{% block content %}
{% load crispy_forms_tags %}

<div class="container">

	{% if request.user.is_authenticated %}
		
		<p>Actualizar datos</p>

		<form method="POST" enctype="multipart/form-data" >
			{% csrf_token %}
			<fieldset>
				{{ u_form| crispy }}
				{{ p_form| crispy }}
			</fieldset>
			<button class="btn btn-primary" type="submit" >Actualizar Perfil</button>
			<a class="btn btn-secondary"  href="{% url 'perfil' %}">Cancelar</a>
		</form>
	{% else %}
		<p>No estas logeado</p>
	{% endif %}	
</div>

	



	
{% endblock %}
