{% extends "blog/base.html" %}
{% block title %}Perfil de {{ object.nombres }} {% endblock %}
{% block content %}
	
	<div class="media bg-dark w-40">
		
			
		<img class="rounded-circle img-cuenta p-2" src="{{ object.imagen_perfil.url }}" >
			
		<ul >
			<li class="perfilLi">
				<p class="text-primary">{{ object.usuario.username }}</p>				
			</li>
			<li class="perfilLi">
				<p class="text-secondary" >{{ object.bio }}</p>		
			</li>
		</ul>
		
		
			

		
		
	</div>

	<div class="container ">
		<p class="text-primary">Información</p>
		<p class="text-secondary">Apellido: {{ object.apellidos }}</p>
		<p class="text-secondary">Nombres: {{ object.nombres }}</p>
		<p class="text-secondary">Correo: {{ user.email }}</p>
		<p class="text-secondary">Edad: {{ object.edad }}</p>
		
	</div>

	
{% endblock %}

