{% extends "blog/base.html" %}
{% block title %}Perfil de {{ self }} {% endblock %}
{% block content %}
	
	<div class="media bg-dark w-40">
		
			
		<img class="rounded-circle img-cuenta p-2" src="{{ user.perfil.imagen_perfil.url }}" >
			
		<ul >
			<li class="perfilLi">
				<p class="text-primary">{{ user.username }}</p>				
			</li>
			<li class="perfilLi">
				<p class="text-secondary" >{{ user.perfil.bio }}</p>		
			</li>
		</ul>
		
		
			

		
		
	</div>

	<div class="container ">
		<p class="text-primary">Información</p>
		<p class="text-secondary">Apellido: {{ user.perfil.apellidos }}</p>
		<p class="text-secondary">Nombres: {{ user.perfil.nombres }}</p>
		<p class="text-secondary">Correo: {{ user.email }}</p>
		<p class="text-secondary">Edad: {{ user.perfil.edad }}</p>
		<a class="btn btn-danger" href="{% url 'eliminar-usuario' %}">Eliminar Cuenta</a>
	</div>

	
{% endblock %}

